# -*- mode: systemd -*-
# {{ ansible_managed }}

[Unit]
Description=Monit
After=network.target
StartLimitInterval=200
StartLimitBurst=3

[Service]
Type=simple
KillMode=process
ExecStart=/usr/bin/monit -I
ExecStop=/usr/bin/monit quit
ExecReload=/usr/bin/monit reload
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=monit

Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
