#!/bin/sh
# {{ ansible_managed }}

if systemctl status monit | grep -q running; then
    if monit report | grep up: | grep -q '100.0%'; then
        # all services are up
        tput -T xterm setaf 2 # green
    elif monit report down | grep -q '^0$'; then
        # something is neither up nor down
        tput -T xterm setaf 4 # blue
    else
        # something is down
        tput -T xterm setaf 1 # red
    fi
    monit summary
else
    tput -T xterm setaf 1 # red
    echo
    echo "*** MONIT IS NOT RUNNING! ***"
fi

tput -T xterm sgr0 # clear fg color
